.lease-contract {

    width: 100%;

    %flex-center {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    &__actions {
        @extend %flex-center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__search-area {
        @extend %flex-center;
    }

    &__table {
        width: 100%;
        overflow: auto;
    }

    &__modal {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__form {
        background-color: white;
        padding: 1em;
        border-radius: 0.5em;

        h2 {
            text-align: center;
            margin-top: 0;
        }


    }

    &__form-button {
        width: 100%;
        margin-top: 1em !important;
    }

    &__form-fields {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width <=45em) {
    .lease-contract {
        &__form {
            height: 30em;
            overflow-y: scroll;
        }

        &__form-fields {
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr;
        }
    }
}